[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global

[user]
  name = Joanne Yeung
  email = jttyeung@gmail.com
[pull]
	ff = only
	merge = only
[hub]
	protocol = https
[init]
	defaultBranch = main
